<%= form_with(model: ventum) do |form| %>
  <% if ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ventum.errors.count, "error") %> prohibited this ventum from being saved:</h2>

      <ul>
        <% ventum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.number_field :fecha %>
  </div>

  <div class="field">
    <%= form.label :cliente %>
    <%= form.text_field :cliente %>
  </div>

  <div class="field">
    <%= form.label :descuento %>
    <%= form.number_field :descuento %>
  </div>

  <div class="field">
    <%= form.label :monto %>
    <%= form.number_field :monto %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
