<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @ventum.fecha %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @ventum.cliente %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @ventum.descuento %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @ventum.monto %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ventum.cantidad %>
</p>

<%= link_to 'Edit', edit_ventum_path(@ventum) %> |
<%= link_to 'Back', venta_path %>
