<br>
<div class="container">
    <div id="carouselHerboCristal" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselHerboCristal" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHerboCristal" data-slide-to="1"></li>
            <li data-target="#carouselHerboCristal" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: white;">
                <%= image_tag("botella.png", :class => "style_slide")%>
            </div>
            <div class="carousel-item">
                <%= image_tag("botella2.png", :class => "style_slide")%>
            </div>
            <div class="carousel-item">
                <%= image_tag("botella4.png", :class => "style_slide")%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 pr-5" style="padding-top: 65px;">
            <%= image_tag("pie.png", :class => "style_imgparrafo")%>
            <h3 class="titulo " style="color: #63EC89; ">¿Qué es la huella de carbono?</h3>
            <p class="parrafo text-justify" style="color: aliceblue; ">La Huella de Carbono es una medida de cuantificación del impacto en el cambio climático de las actividades que se realizan a diario por parte de individuos, organizaciones, productos o territorios.</p>
            <p class="parrafo text-justify" style="color: aliceblue; ">Se ha convertido en un importante indicador en el debate público sobre cambio climático, atrayendo la atención de consumidores, negocios, gobiernos e instituciones preocupadas por el impacto de sus actividades en el medio ambiente.
                Se constituye en una herramienta de gestión de carbono.
            </p>
            <a class="btn btn-secondary " style="background-color:#63EC89; color:black" href="# " role="button ">Ver detalles »</a>
        </div>
        <div class="col-md-4" style="padding-top: 65px;">
            <%= image_tag("mano.png", :class => "style_imgparrafo")%>
            <h3 class="titulo " style="color: #63EC89; ">¿Cómo reducir tu huella de carbono?</h3>
            <p class="parrafo text-justify" style="color: aliceblue; ">Comer más alimentos vegetales y menos alimentos animales. Una de las mejores maneras de reducir tu huella de carbono empieza por lo que pones en tu plato cada día, porque las industrias cárnicas y lácticas son de las industrias
                que más contribuyen a las emisiones de gases de efecto invernadero.</p>
            <a class="btn btn-secondary " style="background-color:#63EC89; color:black" href="# " role="button ">Ver detalles »</a>
        </div>
        <div class="col-md-4 pl-5" style="padding-top: 65px;">
            <%= image_tag("reciclaje.png", :class => "style_imgparrafo")%>
            <h3 class="titulo " style="color: #63EC89; ">Datos curiosos sobre el reciclaje</h3>
            <p class="parrafo text-justify" style="color: aliceblue; ">Una cantidad de 3.000 botellas recicladas equivale a una reducción de 1.000 kg de basuras. Por cada tonelada de vidrio reciclado se ahorran 130 kilos de combustible y 1.200 kg de materia prima. Por cada tonelada de vidrio
                reciclado se ahorra una energía equivalente a 136 litros de petróleo. La energía que se ahorra del reciclaje de una botella de vidrio puede iluminar una bombilla de 100 vatios durante 4 horas. Todas las botellas y frascos
                de vidrio se pueden reciclar. Los vidrios de ventanas y bombillas no se pueden mezclar con botellas y frascos pues su proceso de fabricación es distinto. Una botella retornable puede desarrollar su ciclo de vida hasta
                60 veces. El reciclaje de vidrio ahorra un 20% de la contaminación atmosférica y un 50% de la contaminación de las aguas.</p>
            <a class="btn btn-secondary" style="background-color:#63EC89; color:black" href="# " role="button ">Ver detalles »</a>
        </div>
    </div>
</div>
<br>
