<p id="notice"><%= notice %></p>

<p>
  <strong>Mensaje:</strong>
  <%= @model.Mensaje %>
</p>

<p>
  <strong>Content:</strong>
  <%= @model.content %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @model.usuario_id %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
